@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;300;400;500;600;700;800;900&display=swap');
/*Fonts*/
.anek-100 {
    font-family: 'Saira', sans-serif;
    font-weight: 100;
}
.anek-200 {
    font-family: 'Saira', sans-serif;
    font-weight: 200;
}
.anek-300 {
    font-family: 'Saira', sans-serif;
    font-weight: 300;
}
.anek-400 {
    font-family: 'Saira', sans-serif;
    font-weight: 400;
}
.anek-500 {
    font-family: 'Saira', sans-serif;
    font-weight: 500;
}
.anek-600 {
    font-family: 'Saira', sans-serif;
    font-weight: 600;
}
.anek-700 {
    font-family: 'Saira', sans-serif;
    font-weight: 700;
}
.anek-800 {
    font-family: 'Saira', sans-serif;
    font-weight: 800;
}
/*end fonts*/
.bg-splits {
    background-color: #FAFBFF;
}
li {
    list-style: none;
}
.nav-item {
    padding: 0 .5em 0 0;
}
.nav-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #fff !important;
}
.bg-hapix {
  background-color: #00321f;
}
.hapix-cuerpo {
  padding-top: 3em;
  background-image: url(/img/hapix-fondo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}@media(max-width:1130px) {
  .hapix-cuerpo {
    background-image: url(/img/hapix-fondo-150.svg);
  }
} @media(max-width:1000px) {
  .hapix-cuerpo {
    background-image: url(/img/hapix-fondo-110.svg);
  }
}@media(max-width:991px) {
  .hapix-cuerpo {
    background-image: url(/img/hapix-fondo-tablet.svg);
  }
}
.hapix-fluid {
  padding-top: 1.2em;
  padding-left: 3em;
  padding-right: 3em;
} @media (max-width:600px) {
  .hapix-fluid {
    padding-left: 1em;
    padding-right: 1em;
  }  
}
.hapix-espacio {
  padding-left: 1.3em;
  padding-right: 1.3em;
}
.hapix__datos {
  color: #fff;
}
.btn-primary {
    padding-left: 1.4em;
    padding-right: 1.4em;
    border-radius: .4em;
    background: #59C9A8;
    border: none;
}
.btn-primary:hover {
    color: #fff ;
    background: #011E13;
}
.btn-outline-dark {
  color: #fff;
}
.hapix-bg {
  background-color: #EEEEEE;
  max-width: 82%;
  padding-left: .5em;
  color: #011E13;
}@media(max-width:991px){
  .hapix-bg {
    max-width: 100%;
  }
  .h2-hapix {
    padding-top: 1.5em;
    color: #fff;
  }
}
.bg-concepto{
  background-color: #59C9A8;
  color: #fff;
}
.cabecera {
  padding-top: 7em;

} @media (max-width:500px) {
  .cabecera {
    padding-top: 8em;
    padding-bottom: 3em;
  }
}
.cabecera__titular h1{
  font-size: 3.5em;
}
.cabecera__titular h4 {
  text-align: center;
}
.blue-hapix {
  color: #0028B4;
}
.btn-dark {
  background-color: #0028B4;
  border: none;
  padding: .5em 1em .5em 1em;
  border-radius: .8em;
}
.pagar-ahora {
  min-height: 50px;
  background-color: #0028B4;
}
.pagar-ahora p {
  color: #fff;
}
.pagar-ahora p a {
  color: #fff;
}
.plataforma {
  background-color: #FAFBFF;
  min-height: 600px;
}
.plataforma__info h2 {
  color: #363636;
}
.plataforma__info p {
  text-align: justify;
}
.soluciones {
  background-color: #000F43;
  min-height: 500px;
}
.soluciones__info h5 {
  color: #fff;
  padding-top: 1em;
}
.soluciones__info p {
  color: #fff;
}