@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@100;200;300;400;500;600;700;800&display=swap');
/*Fonts*/
.anek-100 {
    font-family: 'Anek Odia', sans-serif;
    font-weight: 100;
}
.anek-200 {
    font-family: 'Anek Odia', sans-serif;
    font-weight: 200;
}
.anek-300 {
    font-family: 'Anek Odia', sans-serif;
    font-weight: 300;
}
.anek-400 {
    font-family: 'Anek Odia', sans-serif;
    font-weight: 400;
}
.anek-500 {
    font-family: 'Anek Odia', sans-serif;
    font-weight: 500;
}
.anek-600 {
    font-family: 'Anek Odia', sans-serif;
    font-weight: 600;
}
.anek-700 {
    font-family: 'Anek Odia', sans-serif;
    font-weight: 700;
}
.anek-800 {
    font-family: 'Anek Odia', sans-serif;
    font-weight: 800;
}
/*end fonts*/
.bg-splits {
    background-color: #FAFBFF;
}
li {
    list-style: none;
}

.nav-item {
    padding: 0 .5em 0 0;
}
.nav-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #fff !important;
}
.btn-secondary {
    padding-left: 1.4em;
    padding-right: 1.4em;
    border-radius: .4em;
    background: #91A435;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.btn-secondary:hover {
    background: #738322;
    color: #fff !important;
}
.btn-primary {
    padding-left: 1.4em;
    padding-right: 1.4em;
    border-radius: .4em;
    background: #004c98;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
.btn-primary:hover {
    color: #fff !important;
}